<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>cs</title>

    </head>

    <body>
        <form method="post" action="/zc/" id="login_form">
            <label>用户名:</label>
            <input type="text" name="username" id="username" placeholder="用户名">

            <label>密码:</label>
            <input type="password" name="pwd" id="pwd" placeholder="密码" >

            <label>密码:</label>
            <input type="password" name="pwd1" id="pwd" placeholder="密码" >


            <input type="submit" value="注册">
        </form>
    </body>

</html>